body {
    font-family: 'Nunito', sans-serif;
    padding-left: 20px;
}
.btn, .button_api, .button_search{
    display: inline-block;
    padding: 7px;
    background-color: #19ff5f;
    border-radius: 4px;
    cursor: pointer;
}
td{
    padding: 5px;
    border: 1px solid;
}
a.relative{
    margin-right: 10px;
}
.wrapper{
    border: 1px solid #4a5568;
    margin-top: 20px;
    padding: 25px;
}
input[type="text"]{
    border: 1px solid gray;
}
hr{
    border: 1px solid gray;
}
.display_none {
    display: none;
}
.btn_row{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.apiTable{
    min-width: 600px;
}
